canvas {
  border: green;
  border-width: 9px;
  border-style: solid;
  margin: 50px;
  max-width: fit-content;
}

body {
  background: black;
  margin: auto;
  color: lightgreen;
  font-family: monospace;
}

select {
  color: lightgreen;
  background: black;
  font-family: monospace;
}

button {
  color: lightgreen;
  background: black;
  border-style: outset solid lightgreen;
}

table {
  border-collapse: collapse;
  margin: 26px;
}

th {
  font-weight: bold;
}

th, td {
 border: solid darkslategray 0.5px;
 text-align: center;
}

svg {
  background: white;
  border: solid 8px lightgreen;
}

.draggable {
  cursor: move;
}

.tipDiv {
  position: absolute;
  width: 20px;
  height: 20px;
}

.status {
  width: calc(100vw - 100px);
  height: 50vh;
  font-size: 120px;
  position:  absolute;
  left: 0px;
  top: calc(25vh - 50px);
  background: darkgreen;
  border: lightgreen;
  border-width: 50px;
  border-style: inset;
  text-align: center;
}

.indicator {
  width: 30px;
  height: 30px;
  border: solid magenta 1px;
  position: absolute;
  z-index: 100;
}

img {
  z-index: -1;
}

.biggest {
  width: calc(min(95vw - 5px, 95vh - 50px));;
  height: calc(min(95vw - 5px, 95vh - 50px));
}

.medium {
  width: calc(min(95vw - 5px, 95vh - 150px));
  height: calc(min(95vw - 5px, 95vh - 150px));
  margin: 5px;
}


input {
  font-size: 20px;
  font-family: monospace;
}

.options {
  border: 1px solid green;
  padding: 5px;
  margin: 5px;
}

.editable {
  background-color: #111;
  border-radius: 3px;
  border: 1px solid grey;
  font-family: monospace;
  color: goldenrod;
}

.code {
  font-size: 22px;
  width: calc(min(95vw - 5px, 95vh - 150px));
  border-radius: 5px;
  border: solid 1px grey;
  white-space: pre;
  margin: 2px;
  padding: 5px;
}
.errors {
  color: red;
  background-color: black;
}
 
#main {
  display: inline;
}

#leftSpan {
  float: left;
}

#rightSpan {
  float: right;
}

#instructionBox {
  width: calc(min(95vw - 5px, 95vh - 150px));
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: lightblue;
}
